<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application android:label="LinkFlow" android:icon="@drawable/icon"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.files"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".MainActivity" android:exported="true" android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PortraitCaptureActivity" android:exported="false"
            android:screenOrientation="portrait" android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>
